body{
    background-color: azure;
}
h1{
    color: purple;
    text-align: center;
    text-shadow: black unset 5px;
}
p{
    text-align: justify;
    columns: 2;
    margin-left: 20%;
    margin-right: 20%;
    
}
p:hover{
    text-align: justify;
    columns: 1;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px ;
    background-color: transparent 20%, white;
    margin-block-end: 40px;
    transition-duration: 0.5s;
    transition-property: all;
    transform: scale(1.3);

}
h1:hover{
    text-shadow: 8px 8px 8px 5px black;
    transition-duration: 0.5s;
    transition-property: all;
    transform:scale(1.5);
    text-transform: uppercase;
}
h2{
    text-align: center;
}